<h1 class="text-center">New Compaign</h1>

<%= render 'form', compaign: @compaign %>
<div class="text-center">
  <%= link_to 'Back', compaigns_path, class: "btn btn-outline-success btn-sm mb-5" %>
</div>
